body {
    background: #222222;
}

#box1 {
    width: 400px;
    height: auto;
    background: #000;
    margin: auto;
    text-align: center;
    color: #fff;
}
#box2 {
    width: 480px;
    height: auto;
    background: #000;
    border: ridge;
    color: #fff;
    text-align: center;
    margin: auto;
}

#box3 {
    width: 480px;
    height: auto;
    background: #000;
    color: #fff;
    text-align: center;
    margin: auto;
    border: dashed;
    margin-top: 30px;
}